name: Release Charts

on:
  push:
    branches:
      - main

jobs:
  login:
    runs-on: ubuntu-latest
    steps:
      -
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB }}
          
  oci_release:
    needs: login
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"  

      - name: Run OCI Chart Releaser
        uses: bitdeps/helm-oci-charts-releaser@v0.1.3
        with:
            oci_registry: registry-1.docker.io/${{ vars.DOCKERHUB_USERNAME }}
            oci_username: ${{ vars.DOCKERHUB_USERNAME }}
            oci_password: ${{ secrets.DOCKER_HUB }}
            github_token: ${{ secrets.HELM_TOKEN_RELEASE }}        
