name: Release Charts

on:
  push:
    branches:
      - main

jobs:
  release:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Run chart-releaser
        uses: helm/chart-releaser-action@v1.6.0
        env:
          CR_TOKEN: "${{ secrets.HELM_TOKEN_RELEASE }}"
          
      - name: Set execute permissions for cr.sh
        run: chmod +x .github/actions/oci-releaser/cr.sh
  
      - name: Run OCI Chart Releaser
        uses: ./.github/actions/oci-releaser
        with:
            oci_registry: registry-1.docker.io/${{ vars.DOCKERHUB_USERNAME }}
            oci_username: ${{ vars.DOCKERHUB_USERNAME }}
            oci_password: ${{ secrets.DOCKER_HUB }}
            github_token:  ${{ secrets.HELM_TOKEN_RELEASE }}
            skip_gh_release: true 
